# dependencies
node_modules/

# production
dist/

# misc
*.log
*.tsbuildinfo

# local env files
.env
.env.*
!.env.example

# vscode
.vscode/

# OS files
.DS_Store
Thumbs.db

*.mp4
!src/assets/videos/4life-indonesia-convention.mp4
!src/assets/videos/4life-us-convention.mp4
